this file wil need to be converted to a .env file

SPOTIFY_CLIENT_ID=client-id-here
SPOTIFY_CLIENT_SECRET=client-secret-here
SPOTIFY_REDIRECT_URI=https://127.0.0.1:5173/callback

# YouTube
YOUTUBE_API_KEY=api-key-from-google-cloud-console-with-youtube-data-v3-access
SPOTIFY_REFRESH_TOKEN=this-token-can-be-left-blank--minter-overwrites-it