# Spotify (Liked Songs require refresh token)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=https://127.0.0.1:3000/api/callback

# YouTube
YOUTUBE_API_KEY=

# AI API (Used to better compare and get more accurate results for songs)
# Optional but will help get more accurate results
OLLAMA_URL=
OLLAMA_MODEL=llama3.1:8b
